body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  background-image: url(https://media3.giphy.com/media/sRFEa8lbeC7zbcIZZR/200w.webp?cid=ecf05e472n1utvlv05gtptifkgu55lzab7yt4uf1udb7th6u&rid=200w.webp&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 8vw;
  margin-bottom: 30px;
  text-align: center;
}
.container {
  /* width: 60%; */
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamName {
  font-size: 80px;
}
.neonText {
  color: rgb(177, 100, 0);
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}
.neonText:hover {
  color: rgb(235, 180, 0);
}
.btn-13 {
  color: #0bf4f3;
  font-weight: bolder;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  border: 1px solid #0bf4f3;
  z-index: 1;
  height: 60px;
  width: 200px;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  transition: all 0.3s ease;
}
.btn-13:hover {
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}
.level2Container {
  height: "100%";
  background-color: black;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#bgimg {
  background-image: url(../src/level3BG.jpg);
  background-repeat: repeat;
  background-size: 500px;
  width: 70%;
  padding: 200px;
  border-radius: 40px;
  margin: auto;
  margin-top: 80px;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.88);
  border-radius: 40px;

  color: white;
}
.text-center {
  color: white;
  text-align: center;
}
.btnLevel4 {
  width: 40rem;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;

  background-color: green;
  color: white;
}
.level5Hero {
  background-image: url(../src/level5Hero.jpg);
  background-repeat: repeat;
  background-size: contain;
  padding: 70px 30px 70px 30px;
}
.heroBox {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0);
  border-radius: 40px;
  color: white;
}
.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
  margin: auto;
}

.p4 {
  margin: 15px auto 15px auto;
}

#thankYou {
  background-repeat: no-repeat;
  width: "50px";
  height: "50px";
  padding: 100px;
  background-image: url(https://media2.giphy.com/media/cOvgh3VjLmeg8LLBtk/200w.webp?cid=ecf05e47pgk8gxalgn3amcgi86dug5nw1w6a1qny6xz26mhs&rid=200w.webp&ct=g);
}